.background-gray {
  background: $base-gray;
}
.background-gray-lighter {
  background: lighten($base-gray, 60%);
}
.background-gray-lightest {
  background: lighten($base-gray, 30%);
}
.list-style-none {
  list-style-type: none;
  padding-left:0px;
  padding-top: 5px;
}